.findout {
    background-image: url('../../assets/images/findout.png');
    height: 293px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width:576px) {
        height: auto;
        flex-direction: column;
        padding: 20px;
        gap: 40px;
    }

}