$main2: #0072BC;
$secondary2: #8ED8F8;
$tetiary2: #C7EAFB;
$secondary1: #004071;
$main1: #00AEEF;
$tetiary1: #E1F4FD;
$black: #000000;
$white: #FFFFFF;
$secdondary3: #E6E7E8;
$disabledLight: #F5F5F5;
$disabledDark: #3E3232BF;
$gradient5:linear-gradient(180deg, rgba(225, 244, 253, 0.5) 0%, rgba(199, 234, 251, 0.25) 100%);
