.whatwedo {
    background: linear-gradient(180deg, rgba(225, 244, 253, 0.5) 0%, rgba(199, 234, 251, 0.25) 100%);
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 100px;

    @media screen and (max-width:900px) {
        padding: 50px;
    }

    @media screen and (max-width:576px) {
        padding: 20px;
    }
}

.services {
    width: '32%';
    max-width: 360px;
    background-color: #F8FAFF;
    padding: 30px;
    border-radius: 30px;
    height: 'fit-content';
    backdrop-filter: blur(12px);
    box-shadow: 4px 4px 7.5px 0px #0000000D;

    @media screen and (max-width:576px) {
        width: '100%';
    }
}

.ourwork {
    width: 100%;
    height: 600px;
    background-image: url('../../assets/images/ourworkbg.png');
    background-color: #D9E2FF;
    background-blend-mode: soft-light;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 100px;
    gap: 50px;

    @media screen and (max-width:576px) {
        flex-direction: column;
        height: auto;
        padding: 70px 29px;
    }
}

.expertise {
    height: 584px;
    gap: 40px;
    border-radius: 35.39px;
    background: linear-gradient(180deg, #00AEEF 0%, #E1F4FD 100%);
    padding: 70px 100px;
    margin: 0 100px;

    @media screen and (max-width:576px) {
        // flex-direction: column;
        width: 90%;
        height: auto;
        padding: 70px 29px;
        margin: auto;
    }
}

.personalize {
    background-image: url('../../assets/images/personalize.png');
    // width: 100%;
    height: 495px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 100px;
    // top: -48px;

    @media screen and (max-width:576px) {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 70px 29px;
        margin: 50px auto;
        gap: 50px;
    }


}

.circle {
    background: #B0C3FF40;

    width: 101px;
    height: 101px;
    border-radius: 100px;
    display: grid;
    place-content: center;
}